

html, body{
    
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: x-large;
    background-color: lightskyblue;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input, button{
    border-radius: 20px;
}
