div{
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: repeat(12, 1fr);
}



header, footer{
    grid-column: span 12;
    background-color: lightskyblue;

}
footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    position: fixed; bottom: 0 
}

main {
    background-color: darkseagreen;
    grid-column: span 12;
    overflow: auto;
}

